*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: border-box;
  font-family: montserret;
}

body{ 
  background-color: rgb(0, 0, 0);
   
}
/* .main{
  font-family: montserret;
  height:  100%;
  width: 100%;
  background-color: aquamarine;
  filter: blur(5px);
} */

.navbar{
  background:  rgb(0, 0, 0);
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  /* backdrop-filter: blur(20px); */
  display: flex;
  border-bottom: 1px solid rgb(248, 84, 207);
  align-items: center;
  justify-content: space-evenly;
} 
.logo{

  color: rgb(245, 245, 245);
  font-size: 3.5vw;
  line-height: 80px;
  background: transparent;
  padding:0 20px;
  font-weight: bold;
}
.nav-icon{
  background-color: #000000;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  
}
.nav-icon1{
  height: 45px;
  width: 45px;
  /* margin-left: 5px; */
  
  border-radius: 50px;
  font-size: 45px;
  padding-left: 5px;
  padding-top:2px ;
  background-color: rgb(255, 255, 255);
}
 
div ul{
  float: right;
  margin-right: 2vm;
  height: 6vh;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content:  space-between ;
}
div li{
  display: inline-block;
  line-height: 10px;
  margin: 0 5px;
  background-color: #000000;
}
div a{
  color: rgb(250, 244, 244);
  font-size: 1.6vw;
  padding: 1vw 1.5vw;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 10%;
}
a:hover{
  border: 1px solid rgb(240, 10, 171);
  transition: .5s;
  color: rgb(253, 218, 243);
}
/* body:hover{
  filter: blur(5px); 
}*/
#icon{
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px){
  .navbar{
   /* padding: 0 6vw; */
   height: 60px;
   width: 100%;
   justify-content:  space-between  ;
   border-bottom: 1px solid rgb(248, 84, 207);
  }
   .logo{
    font-size: 7vh;
    text-align: center;
    justify-content: center;
  }
   
  .navbar li a{
    font-size: 16px;
  }
  .navbar ul{
    display: none;
  }
  
  #icon{
     color: rgb(246, 252, 252);
     display: block;
     font-size: 8vw;
     font-weight: 800;
  } 

  .container{
    
    width: 100%; 
     
  }
  .cnt1a{
    width: 100%;
    height: 50%;

  }
  .cnt1b{
    width: 100%;
    height: 50%;

  }

}
/* @media (max-width: 660px){
  .icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(201, 46, 201, 0.519);
    top: 80px;
    left: -100%;
    text-align: center;
    
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a:active,a:hover{
    border: none;
    color: #fd0afdc7;
  }
  nav ul.show{
    left: 0;
  }
}  */
/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
   
  height: calc(100vh - 80px);
}  */
/* .hi{
  height: 300px;
  width: 100;
} */ 
.container{
  /* display: cover; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top:80px;
  }
.cnt1{
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%; 
  position: relative;
padding: 20px;
justify-content: space-between;
display: flex;
}
.cnt1a{
  background-color: rgb(0, 0, 0);
  height: 490px;
  width: 45%; 
  position: relative;
 padding: 10px;
}
.cnt1b{
  /* background-color: rgb(0, 255, 242); */
  height: 490px;
  width: 45%; 
  position: relative;
  padding: 10px;
  background-repeat: no-repeat;
  background-image: url(ii.jpg);
  background-size: contain ;} 
.cnt1aa{
  height: 50%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 2vw;
}
.cnt1aa h2 {
  font-size: 4vw;
  word-wrap: break-word;
  color: #fff;
  font-family:   sans-serif;
}
.cnt1aa span{
  color: rgb(240, 10, 171);
  font-size: 70px;
}
.cnt1ab{
  height: 35%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.cnt1ab h3 {
   color: white;
  font-family:   sans-serif;

}
.cnt1ab span{
  color:rgb(240, 10, 171);
}
.cnt2{
  background-color: rgb(240, 10, 10);
  height: 100%;
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.cnt2a{
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0); 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.card2, .card3, .card1{
  justify-content: space-evenly;
  display: flex;
  border-radius: 15px;
   /* gradient background*/
   /* background: linear-gradient(45deg, rgb(57, 1, 54) 0%, rgb(0, 0, 0)  100%);      */
  /* photo background */
  background: transparent;
  height: auto; 
  width: auto; 

  padding: 20px 15px;
}
.container_str {
  width: 350px;
  height: 400px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.303);  
  padding: 15px;  
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  background-size: cover;
}
.container_str:hover{
  filter: drop-shadow(0px  0px 10px rgba(253, 44, 239, 0.664));
  box-shadow: 2px 4px 12px rgba(255, 252, 252, 0.312);
  transition: .25S;
}


.wrapper {
  width: 100%;
  height: 100%;
  
}

.card1 .banner-image {
  background-image: url(lp1.jpg);
  background-position: center;
  background-size: cover;
  height:70%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(60, 200, 255, 0.845)
}
.card2 .banner-image {
  background-image: url(anim.gif);
  background-position: center;
  background-size: cover;
  height:70%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(60, 200, 255, 0.845)
}
.card3 .banner-image {
  background-image: url(OIP.jpg);
  background-position: center;
  background-size: cover;
  height:70%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(60, 200, 255, 0.845)
}
.wrapper h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 6vh;
}

.wrapper p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2.2vh;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
  margin-top: 6px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 1.5px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(245, 226, 12, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
/* .cnt2b{
  height: 500px;
  width: 48%;
  background-color: rgb(46, 204, 32);
} */

.back-to-top{
  
  background: #e7029b;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
